@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,600;0,700;1,100;1,300;1,400;1,500&display=swap");
* {
  font-family: poppins, sans-serif;
  margin: 0;
  padding: 0;
}
/* body {
  background-color: cadetblue;
} */
body.chat-open-btn {
  .chatbot-segment {
    display: flex;
  }
}
.chatbot-segment {
  display: none;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  border: 1px solid transparent;
  height: 600px;
  width: 300px;
  right: 20px;
  bottom: 60px;
  background-color: transparent;
  border-radius: 20px 20px 0 0;

  .close-button {
    padding: 8px 0;
    border: none;
    background-color: #333;
    color: #fff;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    /* margin-bottom: 10px; */
  }
  .close-button:hover {
    text-transform: uppercase;
    text-shadow: 2px 4px 6px;
    font-weight: 600;
  }
  .chat-section {
    background-color: #d2ebce;
    flex: 1;
    padding: 0 8px;
    overflow-y: scroll;

    p {
      border-radius: 30px;
      width: 80%;
      margin: 5px;
      font: 50px;
    }

    .chat-sender {
      p {
        background-color: skyblue;
        padding: 16px;
        text-transform: none;
      }
    }

    .model {
      display: flex;
      justify-content: flex-end;
      color: #fff;

      p {
        background-color: rgb(25, 25, 206);
        padding: 16px;
        color: #fff;
      }
    }

    .error-handler {
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      color: red;
    }
  }
  .input-segment {
    background-color: aliceblue;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 8px;
    border: 1px solid lightgray;

    input {
      height: 45px;
      flex: 1;
      border: none;
      background-color: skyblue;
      padding-left: 15px;
      border-radius: 20px;
      outline: none;
    }
    button {
      height: 40px;
      width: 40px;
      border: none;
      border-radius: 100%;
      margin-left: 20px;
      background-color: blue;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button:hover {
      background-color: rgb(36, 36, 232);
      cursor: pointer;
    }
  }
}

.chat-loader {
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  animation: l5 1.3s infinite linear alternate;
  margin: 20px;
  opacity: 0.4;
  display: none;
}
@keyframes l5 {
  0% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #000;
  }
  33% {
    box-shadow: 20px 0 #000, -20px 0 #0002;
    background: #0002;
  }
  66% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #0002;
  }
  100% {
    box-shadow: 20px 0 #0002, -20px 0 #000;
    background: #000;
  }
}

/* open-button  */
.chat-open {
  position: absolute;
  display: flex;
  border: 2px solid transparent;
  border-radius: 100%;
  bottom: 80px;
  width: 100px;
  height: 100px;
  right: 50px;

  justify-content: center;
  align-items: center;
  background-color: rgb(25, 25, 206);
  background-repeat: no-repeat;
  background-size: cover;
}

#open-btn {
  font-size: 50px;
  color: #fff;
  text-shadow: 2px 4px 8px;
  cursor: pointer;
}
#open-btn:hover {
  filter: blur(1px);
}
